body {
  background-color: #000;
  background-image: url(/images/bg.gif);
  color: #fff;
  font-family: Consolas, monaco, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.2;
  margin: auto;
  border-radius: 1em;
}
main {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 1em;
  padding: 0 20px;
  border: 8px solid #332522;
  border-radius: 10px;
  background-color: #001;
}
footer {
  text-align: center;
  color: #977;
  font-size: 0.9em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: CatV6x129Normal, Consolas, monaco, monospace;
  font-weight: 700;
  font-style: normal;
  color: #b37266;
}
p {
  word-break: break-word;
  white-space: normal;
}
a,
a:link,
a:visited {
  cursor: pointer;
  color: #e656a3;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: underline;
}
a:active {
  color: #fff;
}
.treeline {
  min-width: 10em;
  display: inline-block;
}
.icon {
  max-width: 1em;
  max-height: 1em;
  border: none;
  margin: 0;
}
