body {
    background-color: rgb(28, 24, 28);
    color: rgb(243, 255, 234);
    margin: 5%;
    font-family: sans-serif, Helvetica, Arial;
}
h1 {
    font-size: xx-large;
}
h2 {
    font-size: large;
}
code {
    background-color: rgb(6, 5, 6);
    padding: 0.25em;
}