---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" og="" description="">
    <section class="p-8 w-full">
        <!-- Remember, we implemented custom styles in styles.css -->
        <h1 class="font-extrabold mb-4">404</h1>
        <p class="text-lg">
            I don't know who's at fault here.
        </p>
    </section>
</Layout>
