---
import Layout from "../layouts/Layout.astro";
interface Site {
  name: string;
  description: string;
  link: string;
  id: string;
}
const sites: Site[] = [
  {
    name: "CandyCane",
    description: "Showcasing CandyCane's pixelart.",
    link: "https://candy.nt3.me",
    id: "candycane",
  },
];
---

<Layout title="Advertise" description="Advertise on JonteAds" og="">
  <main class="m-8">
    <h1 class="text-4xl font-bold text-white">Advertise</h1>
    <h2 class="text-2xl font-semibold text-neutral-200">The Sites</h2>
    <ul class="flex flex-row gap-4">
      {
        sites.reverse().map((site: Site, index: number) => (
          <li class="rounded-lg bg-neutral-800 shadow-lg p-6 w-72">
            <h3 class="font-bold text-xl mb-2 text-white">{site.name}</h3>
            <p class="text-neutral-200 text-base">{site.description}</p>
            <a
              href={"?site=" + site.id}
              class="bg-blue-400 hover:bg-blue-300 text-black font-bold py-2 px-4 rounded mt-4 inline-block"
            >
              Select
            </a>
            <a
              href={site.link}
              class="bg-blue-400 hover:bg-blue-300 text-black font-bold py-2 px-4 rounded mt-4 inline-block"
            >
              Visit
            </a>
          </li>
        ))
      }
    </ul>
    <div id="selected" hidden>
      <h3 class="text-2xl font-semibold text-neutral-200">
        Advertise on %SITENAME%
      </h3>
      <p class="text-neutral-200">
        %SITEDESC% It has %PAGEVIEWS% pageviews monthly.
      </p>
      <a
        href="https://science.nt3.me/%SITEDOMAIN%"
        class="bg-blue-400 hover:bg-blue-300 text-black font-bold py-2 px-4 rounded mt-4 inline-block"
      >
        Analytics
      </a>
      <a
        href="mailto:ads@nt3.me?subject=Advertise on %SITELINK%&body=Hello, I'd like to offer EXAMPLE dollars for an ad spot on the site between these dates: "
        class="bg-blue-400 hover:bg-blue-300 text-black font-bold py-2 px-4 rounded mt-4 inline-block"
      >
        Advertise here!
      </a>
    </div>
  </main>
</Layout>
<script>
  async function enforce(id: string) {
    const site = sites.find((site) => site.id === id);
    if (!site) {
      window.location.href = "/advertise";
      return;
    }
    const selected = document.getElementById("selected");
    if (selected) {
      selected.innerHTML = selected.innerHTML.replace("%SITENAME%", site.name);
      selected.innerHTML = selected.innerHTML.replace("%SITELINK%", site.link);
      selected.innerHTML = selected.innerHTML.replace(
        "%SITEDESC%",
        site.description
      );
      selected.innerHTML = selected.innerHTML.replace(
        "%SITEDOMAIN%",
        site.link.replace("https://", "")
      );
      selected.hidden = false;
      const res = await fetch(
        "https://science.nt3.me/api/stats/" +
          site.link.replace("https://", "") +
          "/top-stats?period=30d&date=2023-08-12&filters=%7B%7D&with_imported=true"
      );
      const data = await res.json();
      const pageviews = data.top_stats[1].value;
      selected.innerHTML = selected.innerHTML.replace("%PAGEVIEWS%", pageviews);
    }
  }
  interface Site {
    name: string;
    description: string;
    link: string;
    id: string;
  }
  const sites: Site[] = [
    {
      name: "CandyCane",
      description: "Showcasing CandyCane's pixelart.",
      link: "https://candy.nt3.me",
      id: "candycane",
    },
  ];
  // site is in ?site=
  const urlParams = new URLSearchParams(window.location.search);
  const siteid = urlParams.get("site");
  if (siteid) {
    enforce(siteid);
  }
</script>
