---
import BirdboxEvent from "../components/BirdboxEvent.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jonte's Birdbox</title>
        <meta name="description" content="All the birds moved out!" />
    </head>
    <body class="bg-neutral-900">
        <a href="/blog/Birdbox2023" class="absolute text-white m-4 hover:underline hover:cursor-pointer">View Technical Blogpost</a>
        <section class="py-24 w-full bg-[#37323E] text-center">
            <h1 class="font-extrabold text-[#DEB841] text-5xl md:text-9xl">
                Birdbox 2023
            </h1>
            <p class="text-xl text-[#A8A5B1]">A Project by Jonte</p>
        </section>
        <section class="flex justify-center techy">
            <div class="bg-neutral-800 rounded-lg p-8 w-96 my-12">
                <h2 class="text-white text-2xl font-bold mb-4">What we did</h2>
                <p class="text-gray-300" id="whatwedid">
                    We put a Raspberry Pi in a birdbox and connected it to a
                    camera. The server then displayed the pictures on a website.
                </p>
            </div>
        </section>
        <section class="p-12">
            <ol class="relative border-l border-gray-700">
                <!-- 
                    #!/bin/bash
                    for file in *  
                    do
                      touch -d "$(exiftool -d "%Y-%m-%d %H:%M:%S" -DateTimeOriginal -s -S "$file")" "$file"
                      cwebp -q 80 "$file" -o "${file%.*}.webp"
                    done
                 -->
                <!-- We do not add full stops, only other punctuation -->
                <BirdboxEvent
                    title="Camera installed"
                    time="19:th May"
                    image="setup"
                />
                <BirdboxEvent
                    title="Hello, World!"
                    time="19:th May"
                    image="firstpic"
                />
                <BirdboxEvent title="Eggs!" time="25:th May" image="eggs" />
                <BirdboxEvent
                    title="Both parents"
                    time="5:th June"
                    image="bothparents"
                />
                <BirdboxEvent
                    title="Mom by herself"
                    time="6:th June"
                    image="mom"
                />
                <BirdboxEvent
                    title="Feeding"
                    time="24:th June"
                    image="feeding2"
                />
                <BirdboxEvent title="Kids" time="24:th June" image="kids" />
                <BirdboxEvent
                    title="More Feeding!"
                    time="24:th June"
                    image="feeding"
                />
                <BirdboxEvent
                    title="Only two left!"
                    time="26:th June"
                    image="2kids"
                />
                <BirdboxEvent
                    title="First glimse of freedom!"
                    time="26:th June"
                    image="peeking"
                />
            </ol>
        </section>
        <section class="bg-[#37323E] text-center font-extrabold text-2xl text-[#DEB841] py-4">
            <p>Thanks for taking the time to read!</p>
        </section>
    </body>
</html>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get("normie") === "true") {
        console.log("Non-tech person detected. Hiding tech stuff.");
        // Loop through all elements with class="techy" and hide them
        const techyElements = document.getElementsByClassName("techy");
        for (let i = 0; i < techyElements.length; i++) {
            const element = techyElements[i] as HTMLElement;
            element.style.display = "none";
        }
    }
</script>
