---
import ComputeCompontent from '../components/Compute.svelte'
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <script
            defer
            data-domain="jontes.page"
            src="https://science.nt3.me/js/script.js"
        ></script>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Compute | Jonte's Page</title>
        <meta
            name="description"
            content="My replication of Gnome Shell in Tailwind"
        />
        <!-- Webp Favicon -->
        <link rel="icon" type="image/webp" href="/images/avatar.webp" />
        <!-- OG image -->
        <!-- <meta property="og:image" content={"/images/ogp/" + og + ".png"} /> -->
    </head>
    <body class="bg-background">
        <ComputeCompontent client:only/>
    </body>
</html>
