---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact me" og="" description="So you want to contact me, huh?">
    <main class="mx-auto flex-grow">
    <section class="p-8 w-full">
        <!-- Remember, we implemented custom styles in styles.css -->
        <h1 class="font-extrabold mb-4">
            Contact<br />
        </h1>
    </section>
    <section>
        <p>
            Hello there! Thanks for wanting to contact me. <br> 
            <br>
            Email: jonatan@jontes.page<br>
            PGP: <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/AA4117DD8AAD167A3EDFF42A46108181F32AA005">AA4117DD8AAD167A3EDFF42A46108181F32AA005</a>
        </p>
    </section>
    </main>
</Layout>
