---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Jonatan Holmgren"
  og="index"
  description="A Young && Curious Open-Source Engineer, fueled by a passion for technology and on a mission to Revolutionize the World. Happy Hacking! "
>
  <section
    id="home"
    class="mb-32 grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
  >
    <div class="mr-auto place-self-center lg:col-span-7 mb-8">
      <h1
        class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-white"
      >
        Greetings, I'm Jonte!
      </h1>
      <p class="max-w-2xl mb-6 lg:mb-8 md:text-lg lg:text-xl text-neutral-200">
        A <span id="age" class="cursor-pointer">young</span> opensource
        developer, hoping to make a lasting impact. Happy Hacking!
      </p>
      <a
        href="/blog"
        class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-[#2c3e2d] hover:[#395a3b] focus:ring-4 focus:[#395a3b]"
      >
        Blog
        <svg
          class="w-5 h-5 ml-2 -mr-1"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path></svg
        >
      </a>
      <a
        href="/contact"
        class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-neutral-700 focus:ring-4"
      >
        Contact
      </a>
    </div>
    <div class="lg:mt-0 lg:col-span-5 flex">
      <div class="flex-row">
        <img
          src="images/2024-1-28-Researcher_768x941.webp"
          height="470"
          width="384"
          alt="Jonatan Holmgren"
          class="transition-transform rounded-lg w-96 bg-neutral-800"
        />
        <p class="text-neutral-200">
          Jonatan Holmgren, Researcher at V3XLabs
        </p>
      </div>
    </div>
  </section>
</Layout>
<script>
  const elm = document.getElementById("age");
  if (!elm) throw new Error("Element not found");
  const age = Math.floor((Date.now() / 1000 - 1233516000) / 31536000);
  elm.innerText = age.toString() + " year old";
  elm.addEventListener("mouseover", () => {
    const age = Math.floor((Date.now() / 1000 - 1233516000) / 31536000);
    const months = Math.floor(
      ((Date.now() / 1000 - 1233516000) % 31536000) / 2592000
    );
    const days = Math.floor(
      (((Date.now() / 1000 - 1233516000) % 31536000) % 2592000) / 86400
    );
    const hours = Math.floor(
      ((((Date.now() / 1000 - 1233516000) % 31536000) % 2592000) % 86400) / 3600
    );
    const minutes = Math.floor(
      (((((Date.now() / 1000 - 1233516000) % 31536000) % 2592000) % 86400) %
        3600) /
        60
    );
    const seconds = Math.floor(
      ((((((Date.now() / 1000 - 1233516000) % 31536000) % 2592000) % 86400) %
        3600) %
        60) /
        1
    );
    elm.title =
      age.toString() +
      " years, " +
      months.toString() +
      " months, " +
      days.toString() +
      " days, " +
      hours.toString() +
      " hours, " +
      minutes.toString() +
      " minutes, " +
      seconds.toString() +
      " seconds old";
  });
</script>
