---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Jonatan Holmgren"
  og="index"
  description="A Young && Curious Open-Source Engineer, fueled by a passion for technology and on a mission to Revolutionize the World. Happy Hacking! "
>
  <main class="mx-auto flex-grow">
    <section class="p-8 w-full">
      <!-- Remember, we implemented custom styles in styles.css -->
      <h1 class="font-extrabold mb-4">
        Jonatan<br />Holmgren
      </h1>
      <p class="text-lg">Webdev | Open-Sourcer | A literal child</p>
    </section>
    <section class="flex flex-col md:flex-row">
      <img
        alt="Jonatan Holmgren"
        src="/images/2024-1-28-Researcher_768x941.webp"
        class="w-96 rounded-lg"
      />
      <p class="p-8 text-2xl max-w-3xl">
        Hi! I write code, build and break things. In my spare-time I create
        phenomenal stuff people love, mainly with my friends over at <a
          class="text-lime-800 underline"
          href="https://v3x.company">V3XLabs</a
        >. I speak at conferences too :)<br />
        <br />
        <a
          class="text-lime-800 underline"
          href="
        https://youtu.be/ILE2TJyU3AE">(watch my talk)</a
        >
      </p>
    </section>
    <!-- How to make footer in tailwind -->
    <footer class="p-8 text-center">
      <p>
        <a href="/contact" class="text-lime-800 underline">contact me</a> | <a href="https://github.com/Jontes-Tech" class="text-lime-800 underline">github</a>
      </p>
     </footer>
  </main>
</Layout>
