---
import Layout from "../layouts/Layout.astro";
---

<Layout title="PGP" description="Get my PGP Key!" og="PGP">
  <div class="m-4">
    <h1 class="text-2xl text-white">My PGP key</h1>
    <h2 class="text-xl text-gray-200">Import my key</h2>
    <pre class="bg-stone-700 text-white p-2 rounded-lg"><code class="text-sm">curl -s "https://jontes.page/pubkey.asc" | gpg --import</code></pre>
    <h2 class="text-xl text-gray-200">Encrypt a file/message (please replace [EMAIL SYMBOL] with the at symbol)</h2>
    <pre class="bg-stone-700 text-white p-2 rounded-lg"><code class="text-sm">gpg --encrypt --armor -r jonatan [EMAIL SYMBOL] jontes.page YOURFILE.txt</code></pre>
    <p class="text-stone-400">
      You may also download my PGP key from most public keyservers.
    </p>
  </div>
</Layout>
