---
import Layout from "../layouts/Layout.astro";
import TimeKeeperWizard from "../components/TimeKeeperWizard.svelte";
---

<Layout title="TimeKeeper" og="" description="Timekeeper - Kom alltid i tid">
  <main class="m-8">
    <h1 class="text bont-bold text-2xl text-neutral-200">TimeKeeper - MajaBeskowskolan</h1>
    <!-- Down here is the wizard component -->
    <div class="p-4 bg-neutral-800">
      <TimeKeeperWizard client:only />
    </div>
  </main>
</Layout>
