<a
  transition:name="hero"
  href="/Birdbox2023"
  class="rounded-lg block p-4 bg-[#37323e] hover:bg-[#45404f] font-bold !text-[#deb841] text-center text-2xl prose-img:max-w-none"
>
  Birdbox 2023 stream done. See highlights!
</a>
