---
interface Props {
  name: string;
  link: string;
  description: string;
  source?: string;
}
const { link, name, description, source } = Astro.props;
---

<div
  class="bg-stone-800 card shadow-md rounded-lg overflow-hidden m-4 w-56 flex flex-col hover:translate-y-[-8px] hover:scale-[102%] transition-all hover:shadow-xl"
>
  <div
    class="bg-violet-400 child card-image w-full h-8 text-white text-2xl overflow-hidden items-center object-cover"
  >
  </div>
  <div class="card-content p-6 flex-grow">
    <h3 class="text-xl font-medium leading-tight text-white">{name}</h3>
    <p class="text-gray-400 mt-2">{description}</p>
  </div>
  <div
    class="card-footer bg-stone-800 p-6"
    style="display: flex; justify-content: flex-end;"
  >
    {
      source && (
        <a href={source} class="bg-gray-300 text-black py-2 px-4 rounded mr-4">
          Source
        </a>
      )
    }
    <a href={link} class="bg-indigo-500 text-white py-2 px-4 rounded">Visit</a>
  </div>
</div>
<style>
  .card:hover .child,
  .card.hover .child {
    filter: saturate(2)
  }
</style>
