---
import Head from "./Head.astro";
export interface Props {
  title: string;
  description: string;
  og: string;
}

const { title, description, og } = Astro.props;

import "./styles.css";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} description={description} og={og} />
  </head>
  <body class="bg-[#EDC49B] text-[#200F03] flex flex-col min-h-screen font-bricolage">
    <div class="flex flex-col">
      <slot />
    </div>
  </body>
</html>
