---
import { ViewTransitions } from 'astro:transitions';
export interface Props {
  title: string;
  description: string;
  og: string;
}

const { title, description, og } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <ViewTransitions/>
    <script
      defer
      data-domain="jontes.page"
      src="https://stats.jontes.page/js/script.js"
    ></script>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Jonte's Page</title>
    <meta name="description" content={description} />
    <!-- Webp Favicon -->
    <link rel="icon" type="image/webp" href="/images/avatar.webp" />
    <!-- OG image -->
    <meta property="og:image" content={"/images/ogp/" + og + ".png"} />
  </head>
  <body class="bg-neutral-900 flex flex-col h-screen">
    <div class="flex-1">
      <slot />
    </div>
    <footer class="text-gray-300 py-4 w-[100%] mx-auto">
      <div class="mx-10 bg-neutral-800 p-4 rounded-lg">
        <p>
          Jonatan Holmgren - Software Engineer @ V3X Labs - <a href="/index.xml"
            >Get my RSS</a>
        </p>
      </div>
    </footer>
  </body>
</html>
