---
import Head from './Head.astro';
export interface Props {
  title: string;
  description: string;
  og: string;
}

const { title, description, og } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} description={description} og={og} />
  </head>
  <body class="bg-neutral-900 flex flex-col h-screen">
    <div class="flex-1">
      <slot />
    </div>
    <footer class="text-gray-300 py-4 w-[100%] mx-auto">
      <div class="mx-10 bg-neutral-800 p-4 rounded-lg">
        <p>
          Jonatan Holmgren - Software Engineer @ V3X Labs - <a href="/index.xml"
            >Get my RSS</a
          >
        </p>
      </div>
    </footer>
  </body>
</html>
