h1 {
    font-size: calc(min(20vw, 20vh)); /* Adjust the font size based on the viewport size */
    width: 100%; /* Ensure the heading fits within its container */
    line-height: 0.8;
    white-space: nowrap; /* Prevent the heading from wrapping onto multiple lines */
}

/* For screens smaller than 360px */
@media (max-width: 360px) {
    h1 {
        font-size: 3rem;
    }
}

/* Now let's add them fonts */
/* We need BricolageGrotesque_24pt-Regular.ttf */
/* We need BricolageGrotesque_72pt_Condensed-ExtraBold.ttf */

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url("/fonts/BricolageGrotesque_24pt-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url("/fonts/BricolageGrotesque_72pt_Condensed-ExtraBold.woff2") format("woff2");
    font-weight: 800;
}